.card-title {
    font-weight: 700;
    font-size: 12;
}

.card-box {
    font-weight: 400;
    font-family: sans-serif;
}

.card-content {
    margin-bottom: 1em;
}

.point-heading {
    font-weight: 700;
    font-family: sans-serif;
}

.point-body {
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.7;
}

.drawer-list {
    font-weight: 400;
    font-family: sans-serif;
}

.drawer-links {
    text-decoration: none;
    color: #333;
}

.back-button-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.back-sub-box {
    margin-top: 1.5em;
    margin-right: 1.5em;
}