.card-title {
    font-weight: 700;
    font-size: 12;
}

.card-page {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

@media (min-width: 600px) {
    .card-page {
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.card-box {
    font-weight: 400;
    font-family: sans-serif;
}

.card-content {
    margin-bottom: 1em;
    max-width: 100%;
}

.point-heading {
    font-weight: 400;
    font-family: sans-serif;
    font-size: 13pt;
}

.point-heading-caps {
    text-transform: uppercase;
    letter-spacing: .8px;
    font-size: 7pt;
}

.point-body {
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.7;
    font-size: 11pt;
}

.drawer-list {
    font-weight: 400;
    font-family: sans-serif;
}

.drawer-links {
    text-decoration: none;
    color: #333;
}

.back-button-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.back-sub-box {
    margin-top: 1.5em;
    margin-left: 1.5em;
}

.card-content img {
    max-width: 95%;
    margin: 0.5em;
}

.card-content li {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}

.home-link {
    display: block;
    color: darkgrey;
}

.home-link:hover {
    color: #333;
}
