.footer {
    background-color: #bbb;
    color: white;
    font-size: 11px;
    letter-spacing: .5px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 2em;
}

.email {
    font-size: 18px;
    padding-top: 1em;
}

.footerlink {
    color: white;
}

.footnote {
    margin-bottom: 2em;
}